/* Общие стили */
body, html {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #f2f2f2;
    width: 20%; /* Ширина бокового меню по умолчанию */
    float: left; /* Боковое меню на левой стороне */
    position: fixed; /* Позиционирование фиксированное */
    height: 100%; /* Боковое меню по высоте экрана */
    overflow-y: auto; /* Включаем вертикальную прокрутку, если контент не помещается */
}

.content {
    margin-left: 20%; /* Отступ справа для контента */
    padding: 20px;
}

/* Медиа-запрос для экранов шириной менее 768px */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%; /* Боковое меню занимает всю ширину на узких экранах */
        position: static; /* Позиционирование статичное на узких экранах */
    }

    .content {
        margin-left: 0; /* Нет отступа справа для контента на узких экранах */
    }
}


.text-cont h2:hover {
    color: #9c7fdf;
}
